
<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
    <!-- <li role="menuitem"><a href="#/page/index">KEDDO</a></li> -->
    <li class="current"  role="menuitem"><a href="#">Каталог</a></li>
    <li role="menuitem">
        <a  ui-sref="buy.segment.type({'target':'sections','segment':stateParams.segment,'type':'*'})"> 
                    {{$parent.$parent.data.info.name}}
        </a>
    </li>
    <li role="menuitem">
        <a  ng-show="stateParams.type!='*'" ui-sref="buy.segment.type({'type':stateParams.type})">
                    {{$parent.data.info.name}}
        </a>
    </li>
    <li class="current"  role="menuitem"><a href="#">
                    {{data.sku}}
            </a></li>

</nav> 
    <div ng-if="data.data"ng-init="item_index = 0" >


<view-title>{{meta.title}}</view-title>

<meta view-head name="description" content="{{meta.description}}">
<meta view-head name="keywords" content="{{meta.keywords}}">
        <div class="row" ng-if="data.sku" ng-init="selected=data.data.$$keys()[0]">
                <div ng-show="k==selected || (selected==-1 && $index==1)" ng-repeat="(k,v) in data.data"
                    class="columns large-5"
                    ng-init='images = v["Фотографии"].split(","); img_index=0;'>
                    <img ng-src="{{images[img_index]}}" alt="" class=""  style="width:100%; padding:0 30px;" />
                    <div ng-repeat="i in images"    class="columns large-3">
                        <a href ng-click="$parent.img_index=$index">
                            <img ng-src="{{i}}" alt="" class=""  />
                        </a>
                    </div>
                </div>
                
                <div class="columns large-7">
                        <strong style="text-transform:uppercase"> {{data.sku}} </strong>
                        <br/>
                        <br/>
                    <select ng-model="selected">
                        <option value="{{k}}" ng-repeat="(k,i) in data.data"> 
                            {{i['Цвет']}}
                        </option>
                    </select>
                    <h4 style="margin-bottom:15px;">Размеры: </h4>
                    <div ng-init='n = "\"Размерный ряд\""'>
                        <span 
                            style="padding: 5px; margin-right:5px; border:1px solid lightgray;"
                            ng-repeat="size in data.data[selected][n].split('\\');">{{size}}</span>
                    </div>
                    <br/>
                <ul>
                    <li><strong> Материал верха:</strong> {{data.data.$$first()['Верх']}} </li>
                    <li><strong> Подкладка:</strong> {{data.data.$$first()['Подкладка']}} </li>
                    <li><strong> Материал подошвы:</strong> {{data.data.$$first()['Подошва']}} </li>
                    <li><strong> Сезон:</strong> {{data.data.$$first()['Сезон']}} </li>
                </ul>   
                    <div>
                     <span style="vertical-align:bottom; font-size:24px;" class="left">
                        {{data.data[selected]['"Цена без скидки"']}} руб.&nbsp;
                     </span>
                     <a 
                            style="background-color:#242424;"
                            class="small button" ng-click="redirect=1; window.delay('document.location=\'http://yyess.com\'',12000);" ng-click="" href="http://yyees.com">Купить</a>
                    </div> 
                     <div ng-show="redirect" style="position:fixed; padding:15% 0px; top:0px; text-align:center; font-size:20px; left:0px; width:100%; height:100%; background-color:rgba(255,255,255,0.9);"> 
                            Сейчас Вы будете перенаправлены в интернет-магазин <a href="www.yyees.com">www.yyees.com </a>
                            <center> 
                                <img src="/images/loading.gif" /> 
                            </center>
                     </div>
                    </div>
           </div>
        </div>
    <!--
    {{data.data}}
    
    <div ng-if="data.data" class="row">:
        <div class="columns large-3" ng-repeat="i in data.data.items">
            <a href='#'> {{i.sku}} </a>
            <i> {{i.info}} </i>
            
        <div>
    <div ui-view>    
        
    </div>
    -->
<!-- Put this script tag to the <head> of your page -->

<!-- Put this div tag to the place, where the Comments block will be -->
<br/>
<br/>
<div class="columns large-12">
<div id="vk_comments"></div>
    <script type="text/javascript">
    VK.Widgets.Comments("vk_comments", {limit: 10, width: "665", attach: false});
    </script>
</div>
</div>
