
.edit-mode-link {
    display:none;
}
.edit-mode-link a {
    display:block; background-color:#232323; color:#fff; padding-left:10px; text-decoration:underline; font-weight:bold; position:relative;
}

.apply-n-meta {
    position: relative; background-color: #656565; color: #fff!important;
background-color: #656565;
    border-bottom: 1px solid #242424;
    color: #fff !important;
    margin-bottom: -17px;
    padding: 10px;
    position: relative;
}
.apply-n-meta a {
    color:#fff;
}

.large-12, .column, .columns {
    z-index:1;
}


.flex-direction-nav a {
    height:57px!important;
}
.menu-catalog-after {
    border: 20px solid #242424;
    display: inline-block;
    float: none;
    height: 100%!important;
    left: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
    margin-left:-5px;
    padding-left:10px;

}

.menu-catalog-after >  * {
    display:block!important;
    max-width:120px!important;
}
.menu-catalog-after  * {
   position:static!important;
   padding:0px!important;
   margin:0px!important;
}

.menu-catalog-after img {
    max-height:100%;
}

.columns {
    box-sizing:border-box;
}

.block-type-photo > .block > * > span > a > img , .block-type-photo > .block > * > span > img , 
.block-type-photo > .block > * > a > img , .block-type-photo > .block > * > img {
}

.moveHolder {
    color:#008cba!important;
}

.blog-side-nav li a, .blog-side-nav li strong {
    font-size:16px;
    text-transform:uppercase;
    font-weight:normal;
}

.blog-side-nav {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0.77778rem 0;
}

.blog-side-nav li {
    line-height: 25px;
    list-style: outside none none;
    margin: 0 0 0.4375rem;
    white-space:nowrap;
}

.blog-section {
    color:#fff;
    background-color:#242424;
}

.as-sortable-placeholder {
float: left;
    padding-left: 0.83333rem;
    padding-right: 0.83333rem;
    position: relative;
}

.inline-error {
    border-color:red!important;
}

.subscribe-gender-buttons > button:nth-child(1) {
    border-right:3px solid white;
}
.subscribe-gender-buttons > button:nth-child(2) {
    border-right:3px solid white;
}

.subscribe-gender-buttons > button:nth-child(3) {
    border-left: 3px solid white;

}

.moveHolder {
    color:#fff;
}

.catalog-menu-image > img {
    height:100%;
    border:40px solid #e6e6e6!important;
}
.catalog-menu-image {
    display:none;
    position: absolute;
    width:auto!important;
    left:100%;
    z-padding:30px;
     background-color: #e6e6e6!important;
 height: 200px!important;
z-index: 99;
 overflow: visible; border-left:1px solid gray;
}

ul.catalog-menu-holder li.catalog-menu-item  div.catalog-menu-image {
    margin-top:-100px;
}

ul.catalog-menu-holder li.catalog-menu-item:nth-child(1) div.catalog-menu-image,
ul.catalog-menu-holder li.catalog-menu-item:nth-child(2) div.catalog-menu-image,
ul.catalog-menu-holder li.catalog-menu-item:nth-child(3) div.catalog-menu-image {
    top:0px;
    margin-top:0px;
}
ul.catalog-menu-holder li.catalog-menu-item:nth-last-child(1) div.catalog-menu-image,
ul.catalog-menu-holder li.catalog-menu-item:nth-last-child(2) div.catalog-menu-image,
ul.catalog-menu-holder li.catalog-menu-item:nth-last-child(3) div.catalog-menu-image {
    bottom:0px;
    margin-top:0px;
}

  div.foot {
      background-color:#656565;
  }

@media only screen and (max-width: 640px) {
    .top-menu-left ul li, .top-menu-left ul {
        border-radius: 0px; 
    }
}
@media only screen and (max-width: 768px) {
    .title-area h1 img{
        display:none;
    }
}
@media only screen and (max-width: 1000px) {
    .block-type-bgvideo { display:none;}
   .top-bar-section > ul.right {
        display:none;
    }  
}



.breadcrumbs {
margin-bottom:40px;
}
.top-bar-section li.has-dropdown > a {
    padding-right: 0.9375rem !important;
}
.top-bar-section li a {
    text-transform:uppercase!important;
}
.inline-block {
    display:inline-block;
}

.block-type-darkpanel:after {
    clear: both;
    content: "";
    display: block;
}

  .block-type-darkpanel {
      min-height:20px;
      background-color: #242424;
      width: 100%;
      padding: 0.9375rem;
      box-sizing: content-box;
      margin-left: -0.9375rem;
  }
.block-type-whitepanel:after {
    clear: both;
    content: "";
    display: block;
}

  .block-type-whitepanel {
      min-height:20px;
      background-color: #fff;
      width: 100%;
      padding: 0.9375rem;
      box-sizing: content-box;
      margin-left: -0.9375rem;
  }
.no-margin{
    margin:0px!important;
}

.no-padding {
    padding:0px!important;
}
.top-bar-section .dropdown li a:hover{
    color:#16b3aa!important;
}
.catalog-menu-item:hover+.catalog-menu-image{
    display:block!important;
}

.catalog-menu-holder:last-child {
    display:block;
}


.catalog-menu-holder:before {
    content:"▲";
    color:#242424;
    font-size: 20px;
    font-weight: bold;
    left: 30px;
    position: absolute;
    top: -20px;
}

ul li:nth-child(2) .catalog-menu-holder:before, ul li:nth-child(3) .catalog-menu-holder:before {
   left:25%; 
}
ul li:nth-child(2) .catalog-menu-holder, ul li:nth-child(3) .catalog-menu-holder {
    margin-left:-100%
}


div div .dropdown.catalog-menu-holder {
    background-color: #242424!important; width: auto;
    overflow:visible;
    -moz-columns:4;
    columns:4;
    
}

div div .dropdown.catalog-menu-holder li > a {
    color:#fff!important;
    border-radius:5px;
    background-color: #242424!important; width: auto;
}

div div .dropdown.catalog-menu-holder li {
    background-color: #242424!important; width: auto;
    float:none!important;
}
div div .dropdown.catalog-menu-holder li:hover div {
    display:block;
}
div div .dropdown.catalog-menu-holder li div img {
    border:1px solid lightgray;
}
div div .dropdown.catalog-menu-holder li div:not(.catalog-menu-image) {
    background-color: #e6e6e6;
    no-no-border-left: 20px solid #e6e6e6;
    border-spacing: initial;
    box-shadow: 1px 0 0 0 lightgray inset;
    display: none;
    height: 100%;
    padding: 10px 10px 10px 20px;
    position: absolute;
    right: -50%;
    text-align: center;
    top: 10px;
    width: 100%;
}

div .top-bar-section .dropdown {
    width:auto;
}

div .top-bar-section .dropdown li {
    clear:both;
    width:auto;

}

div .large-4-padding {
     border: 5px solid white;
    margin: 1%;
    padding-top: 15px;
    width: 31.3333%;
}

div .large-6-padding {
     border: 5px solid white;
    margin: 1%;
    padding-top: 15px;
    width: 48%;
}

.break-all {
    word-break:break-all;
}


.top-menu-left ul li, .top-menu-left ul {
    border-radius: 5px; 
}

.white-border-20 {
    border:20px solid white;
}


ul.title-area { z-index:99;}

* {
    z-index:inherit;
}

.top-bar {
    z-index:2;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
    width:90%!important;
}
.anchorControls a {display:none;}

@media only screen and (min-width: 40.063em) {

.as-sortable-placeholder {
     min-width:10px; min-height:10px; border:3px solid red;
     display:inline-block;
}
div .top-bar-section .dropdown li .dropdown { left:20px;} 

  *:hover {

  }


.footer-menu span.as-sortable-item {
    display:inline-block;
    margin-right:10px;
}

.anchorControls a {display:block;}
  .anchorControls {

     position: fixed;
    right: 10px;
    top: 140px;
    z-index: 99999;
}

  .top-menu-left {
     display:inline-block!important;
  }

  div .top-bar-section .has-dropdown > a:after {
     border: 0 none !important;
    content: "»";
    display: none!important;
    float: right !important;
    right: 15px;
    top: 2px;

}

li.has-dropdown:hover .top-bar-section .dropdown {
    clip:inherit;
}
  .has-dropdown:hover > .dropdown {
     clip:inherit;
   z-position:relative!IMPORTANT;
    z-index:999;
  }

  .adm-menu-stack-item  > span {
    border-radius: 3px;
    border:1px solid #232323;
    color:#242424;
  }

  ul.ui-droppable[data-drop=true] {
     z-border:1px solid red;
     display:block;
     z-padding-right:20px;
  }
  .nd-selected {
     border:7px solid #e575e5;
  }

  .bottom-adm > ul {

    background:#242424; color:#e1e1e1; position:fixed; left:0px; bottom:0px; width:100%; padding:8px;
    height:50px;
    margin:0px;
z-index:999;
  }
  .bottom-adm ul li {
    float:left;
    list-style:none;
    margin-right:20px;
  }
  .bottom-adm ul li a {
     color:#fff;
    font-size:12px;
    text-transform: uppercase;
    font-weight:bold;
  }
  .top-bar {
    height:98px!important;
    background-color:#e6e6e6!important;
    padding-top:23px!important;
  }
  .top-bar-section ul li span > a:hover {
    color:#242424!important;
  }
  .top-bar-section ul li > a:hover {
    color:#242424!important;
  }
  .top-bar-section ul li span > a {
     background-color:#e6e6e6!important;
     color:#000!important;

  }
  .top-bar-section ul li {
     background:#e6e6e6!important;
  }
  .top-bar-section ul li > a {
     background-color:#e6e6e6!important;
     color:#000!important;
    text-transform:uppercase !important

  }
.top-bar-section > .top-menu-left  a {
    font-size:12px!important;
}
  .top-bar a {
     color:#fff;
  }

  .YMaps img {
     max-width:initial;
  }


  .page-content > div[data-drop] {
     padding-bottom:20px;
  }

  .foot div.page-content {
     #-moz-column-count: 4;
  }
  .foot .footer-menu .page-content > div >   .block-type-html {
    display:inline-block;
    padding-right:10px;
  }

  .foot .footer-menu .page-content > .block-type-html {
    display:inline-block;
    padding-right:10px;
    width:auto;
  }

  nothing > .foot .footer-menu > div > div > div > .ui-droppable > div > div {
    display:inline-block;
  }

  .footer-menu .page-content {
     width:100%;
    text-align:center;
  }

    .footer-menu  .page-content > div > span {
        display:inline-block;
        width:auto!important;
        float:none!important;
    }

    .footer-menu  .page-content > div.block-type-menu {
        display:inline-block;
        width:auto!important;
        float:none!important;
    }

  .foot .footer-menu a  { color:#fff;}
  .foot .footer-menu { color:#fff;}
  .top-bar .block-controls > span {
    font-weight:bolder;
  }
  .top-bar .block-controls > a {
    float:left;
    height:8px;
    padding:2px  5px 5px 5px!important;
  }
  #z.top-bar .block-controls {
      top:-10px;
      position: absolute;
  }


  .block-type-menu {
    float:left;
  }


  .top-bar .block-type-menu > .block + .block-subitems {display:none!important;}
  .top-bar .block-type-menu > .block.opened + .block-subitems {display:inline-block!important;
        height: 0;
        left: 0;
        position: relative;
        top: -30px;
        z-index: 149;
  }
  .ui-droppable {min-width:20px; min-height:20px; zfloat:left;}

  div.block-type-menu div > div {
    margin-left:10px;


  }

  .top-bar .top-bar-section li ul.dropdown-light {

     z-background-color:#f4f4f4!important;
     border-radius:3px;
  }
  .main-menu li, .main-menu li a  {
     background-color:transparent!important;
    color:#232323!important;
  }
  .has-block-controls:hover > .block-controls {
     display: inline;
  }
  .has-block-controls > .block-controls {
     display: none;
  }
  .top-bar .as_li {
     padding:0px;
     margin-right:10px;
  }
  .as_li {
      color: red !important;
        font-family: monospace;
    font-size: 13px;
    z-margin-left: -15px;
    z-padding: 10px;
    padding-left: 0;
  }
  .as_li > a {
color:lightgray!important;
}
 /* .as_li .as_li {margin-left:10px;}
  */ section > div.block-type-menu {
     float:left;
  }

    .block-type-photo {
    margin-bottom:20px;
}
  .block-type-subitems > * > .block-type-photo {
    padding:0px!important;
  }

  .hover-droppable-place{
      border:5px solid green!important;
  }

  .add-menu-item div.container
  {
      position:absolute; width:200px; left:0px; top:0px; background-color:#e4e4e4; padding:10px;
  }

  .uppercase {
      text-transform:uppercase;
  }
  .pointer { cursor:pointer;}

  a[data-hint]:hover:after {
      content:attr(data-hint);
      text-transform:uppercase;
  }

  .ui-draggable {
      cursor:pointer;
  }
  .ui-draggable-dragging {
      color:red!important;
      width:15px; height:15px; background-color:red; overflow:hidden;
  }

  ul > li.ui-droppable {
      display:none;
  }
  ul.has-droppable {min-height:10px; }
  ul:hover > li.ui-droppable {
      display:block;
  }


  z*:hover {color:red!important;}
  .ui-droppable {
      z-height:20px; z-width:20px; z-border:1px solid #242424; border-radius:3px;
      z-display:inline;
  }


  div.foot div.bottom-center h2  {
      color: #e5e5e5;
      font-size: 14px;
      font-weight:bold
  }

  div.foot div.bottom-center ul.menu li a {
      color:#e5e5e5;
      font-size:14px;
  }

  div.foot div.bottom-center div > ul.menu {
      margin:0px;
  }
  div.foot div.bottom-center ul.menu li {
      list-style:none;
  }

  div.foot div.bottom-center p {
      font-size:14px;
      color:#e5e5e5;
  }
  div.bottom-center hr.separator { border-color:#575757;}

  div.bottom-center .subscribe a {
      color:#242424;
      background-color:yellow;
  }

  a {cursor:pointer;}

  .collapse > div {
      padding:0px;
  }

  .bottom-center {
      background-color:#656565;
  }
  video.bgvid {
      position: fixed; right: 0; top: 0;
      min-width: 100%; zmin-height: 100%;
      width: auto; height: auto; z-index: -10;
      background: url(../images/bgwebm.jpg) no-repeat;
      background-size: cover;
  }


  .absolute {position:absolute;}

  .top-bar-section ul.main-menu  {
      margin-top:5px;
  }
  .top-bar-section ul.main-menu  > li > a:hover {
      text-decoration:underline;
  }
  .top-bar-section ul.main-menu > li input {
      top:1px;
  }
  .top-bar-section ul.main-menu > li a {
      color:#0b0b0b;
      font-size:15px;
      text-transform: uppercase;
      margin-left:30px;
  }

  .keddo_club {
      margin-top:-15px;

  }

  .adm-add {display:none!important;}
  li:hover > button.adm-add {
      display:inline!important;
      right: 0px;
      z-index: 4;
      top: 0px;
      background: royalblue;
      border: 1px solid red;
      width: 1px;
      float: right;
      position:absolute;
      height:100%;
  }


  body {
    padding-bottom: 20px;
  }


  .header {
    border-bottom: 1px solid #e5e5e5;
  }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }


  @media (min-width: 768px) {
    .container {
      max-width: 730px;
    }
  }
  .container-narrow > hr {
    margin: 30px 0;
  }
  .jumbotron {
    text-align: center;
  }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

  .marketing {
    margin: 40px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }

  @media screen and (min-width: 768px) {
    .header,
    .marketing,
    .footer {
      padding-left: 0;
      padding-right: 0;
    }
    .header {
      margin-bottom: 30px;
    }
    .jumbotron {
      border-bottom: 0;
    }
  }

}
