<div 
    class="">
       <label> Заголовок</label>
       <input type="text" ng-model="item.data['title']" />
     </hr>
      <label> Тип страницы </label>
      <select ng-model="pageTarget" ng-init="pageTarget=''">
            <option value="#/page/">       Страница </option>
     <!--
        <option value="#/catalog/">    Раздел каталога </option>
     -->
      </select>
      <br/>
      <input ng-if="pageTarget=='#/page/'" type="text" placeholder="" />
      
        <i> {{item.data.url}} </i>
      <br/>
<div>  
