<div 
    class="">
       <label> Заголовок</label>
       <input type="text" ng-model="item.data['title']" />
     </hr>
      <label> Тип страницы </label>
      <select ng-model="pageTarget" ng-init="pageTarget=''">
            <option value="#/page/">       Страница </option>
            <option value="#/catalog/">    Раздел каталога </option>
      </select>
      <br/>
      <input ng-if="pageTarget=='#/page/'" type="text" placeholder="" />
      
      <div ng-if="pageTarget=='#/catalog/'">
      <label> Сегмент </label>
          <span ng-init="getPossibleSegments()">
              <select 

                    ng-change="getPossibleCollections($parent.segment); item.data.url=pageTarget+segment+'/*/'"
                    ng-if="possibleSegments.data" 
                    ng-model="$parent.segment" >
                    <option></option>
                    <option ng-repeat="i in possibleSegments.data" ng-value="i.segment">{{i.segment}}</option>
              </select>
          </span>
      <!-- 
      <label> Коллекция </label>
          <span ng-if="possibleCollections.data">
              <select
                    ng-change="item.data.url=pageTarget+segment+collection+'/'"
                    ng-model="$parent.collection" >
                    <option></option>
                    <option ng-repeat="i in possibleCollections.data" ng-value="'/'+i.season">{{i.season}}</option>
              </select>
          </span>
        -->
      </div>
        <i> {{item.data.url}} </i>
      <br/>
<div>  
