                <div ng-init="getStaticFiles();">
                    <div class="row collapse subscribe">
                        <div class="small-10 columns">
                          <input ng-model="item.data['style']" type="text" placeholder="style">
                        </div>
                        <div class="small-2 columns">
                          <label class="postfix" href="#">CSS стиль</label>
                        </div>
                    </div>


                    <div class="row collapse">
                        <div class="small-10 columns">
                          <input ng-model="item.data['href']" type="text" placeholder="href">
                        </div>
                        <div class="small-2 columns">
                          <label class="postfix" > Ссылка </label>
                        </div>
                    </div>


                    <div class="row collapse">
                        <div class="small-10 columns">
                          <input ng-model="item.data['title']" type="text" placeholder="title">
                        </div>
                        <div class="small-2 columns">
                          <label class="postfix" > Заголовок </label>
                        </div>
                    </div>

                    <div class="row collapse">
                        <div class="small-10 columns">
                          <input ng-model="item.data['description']" type="text" placeholder="description">
                        </div>
                        <div class="small-2 columns">
                          <label class="postfix" > Описание</label>
                        </div>
                    </div>

                    <div class="row collapse subscribe">
                        <div class="small-10 columns">
                          <select ng-model="item.data['class']" type="text" placeholder="style">
                              <option value=""> </option>
                              <option value="large-centered"> По центру </option>
                                      <option value="large-centered"> По центру </option>
                                      <option value="large-1 columns"> 1/12    </option>
                                      <option value="large-2 columns"> 2/12    </option>
                                      <option value="large-3 columns"> 3/12    </option>
                                      <option value="large-4 columns"> 4/12   </option>
                                      <option value="large-5 columns"> 5/12   </option>
                                      <option value="large-6 columns"> 6/12    </option>
                                      <option value="large-7 columns"> 7/12   </option>
                                      <option value="large-8 columns"> 8/12   </option>
                                      <option value="large-9 columns">  9/12    </option>
                                      <option value="large-10 columns"> 10/12    </option>
                                      <option value="large-11 columns"> 11/12    </option>
                                      <option value="large-12 columns"> 12/12 </option>
                          </select>
                        </div>
                        <div class="small-2 columns">
                          <label class="postfix" href="#">CSS класс</label>
                        </div>
                    </div>

                        <!--
                        <span ng-repeat="(key,param) in item.data">
                            <input ng-show="key!='src'" type="text" placeholder="{{key}}"  ng-model="item.data[key]" />
                        </span>
                        -->
                        <input type="file" oi-file="options">
                        <div ng-if="!!filePreview.thumb">
                            <img  on-select="cropStop" style="z-index:1;" angular-crop ng-src="{{filePreview.thumb}}" />
                            <br/>
                            <div ng-show="previewData">
                                <button class="tiny" ng-click="resizeImage(1)"> + </button>
                                <button class="tiny" ng-click="resizeImage(-1)"> - </button>
                                <button class="tiny" ng-click="saveFile()"> Загрузить </button>
                                </br>
                                <img id="foo" src="" />
                            </div>
                            <!--1
                            <img angular-crop ng-src="http://localhost:9000/static/2.jpg" />
                            -->
                        </div>

                        <div class="row" oi-file="options">
                            <div class="large-3 columns" ng-repeat="sf in staticFiles">
                            <!--
                                {{sf}}
                            -->
                            <center>
                            <img ng-click="item.data['src']=sf;"
                                 class="nd-{{ (sf==item.data['src'] ? 'selected' : '0') }}"
                                 style="max-width:100px; max-height:100px;" ng-src="{{sf}}" />
                                 <br/>
                            <small> {{sf.split('/').reverse()[0]}} </small>
                            </center>
                          </div>
                        </div>
                </div>
