                <div ng-init="getStaticFiles();">
                    <div class="row collapse subscribe">
                        <div class="small-10 columns">
                          <input ng-model="item.data['style']" type="text" placeholder="style">
                        </div>
                        <div class="small-2 columns">
                          <label class="postfix" href="#">CSS стиль</label>
                        </div>
                    </div>


                    <div class="row collapse subscribe">
                        <div class="small-10 columns">
                          <select ng-model="item.data['class']" type="text" placeholder="style">
                              <option value="'large-centered'"> По центру </option>
                              <option value="'large-3'"> 1/4 </option>
                              <option value="'large-4'"> 1/3 </option>
                              <option value="'large-6'"> 1/2 </option>
                              <option value="'large-12'"> 100% </option>
                          </select>
                        </div>
                        <div class="small-2 columns">
                          <label class="postfix" href="#">CSS класс</label>
                        </div>
                    </div>

                        <!--
                        <span ng-repeat="(key,param) in item.data">
                            <input ng-show="key!='src'" type="text" placeholder="{{key}}"  ng-model="item.data[key]" />
                        </span>
                        -->
                        <input type="file" oi-file="options">
                        <div ng-if="!!filePreview.response.thumb">
                            <img style="z-index:1;" angular-crop ng-src="{{filePreview.response.thumb}}" />
                            <button class="tyny"> Загрузить </button>
                            <!--
                            <img angular-crop ng-src="http://localhost:9000/static/2.jpg" />
                            -->
                        </div>

                        <div class="row" oi-file="options">
                            <div class="large-3 columns" ng-repeat="sf in staticFiles">
                            {{sf}}
                            <img ng-click="item.data['src']=sf;"
                                 class="nd-{{ (sf==item.data['src'] ? 'selected' : '0') }}"
                                 style="max-width:100px; max-height:100px;" ng-src="{{sf}}" />
                          </div>
                        </div>
                </div>
