        <div class="page-content" ng-if="page.subitems">
            <div
                         data-drop="true"
                         data-jqyoui-options="{greedy:true, hoverClass:'hover-droppable-place'}"
                         ng-model="page.subitems"
                         as-sortable

                         jqyoui-droppable="{multiple:true,onDrop:alert(1)}">
                         <span class="{{block.data.class || '' }}" as-sortable-item ng-repeat="block in page.subitems">
                         <!--
                             <span class="moveHolder" as-sortable-item-handle > <b> >> </b> </span>
                         -->
                             <block prefix="editable" is-editable="true"  data="block">
                                     ....
                             </block>
                        </span>
                <div style="clear:both;"></div>
            </div>
                <div style="clear:both;"></div>
            <div
                class="apply-n-meta">
                <a ng-click="editMeta();" ng-show="page.url[0]!=':'"> Редактировать meta</a>
                <a ng-click="savePage(page);" class="fi-check"> Применить </a>
            </div>
        </div>
