        <div class="page-content" ng-if="page.subitems">
            <div
                         data-drop="true"
                         data-jqyoui-options="{greedy:true, hoverClass:'hover-droppable-place'}"
                         ng-model="page.subitems"
                         as-sortable

                         jqyoui-droppable="{multiple:true,onDrop:alert(1)}">
                         <span class="{{block.data.class || 'columns large-12' }}" as-sortable-item ng-repeat="block in page.subitems">
                         <span class="moveHolder" as-sortable-item-handle > <b> >> </b> </span>
                             <block prefix="editable" is-editable="true"  data="block">
                                     ....
                             </block>
                        </span>
            </div>
            <div
                  z-class="block-controls">
                <a ng-click="savePage(page.subitems);" class="fi-check"> <small>Применить </small></a>
            </div>
                <div style="clear:both;">
            </div>
        </div>
