




<div class="row">
        <br />
        <input oi-file="options" type="file" />
        <hr/>
        <div>
            <input ng-show="tmpGroup.length" placeholder="Описание группы" type="text" ng-model="tmpInfo" /><br/> 
            {{tmpGroup}} <button ng-click="groupItems();" class="tiny"> [ GROUP ] </button>
        </div>
        <div class="columns large-12"> 
            <div ng-show="groups.data"> 
                <div class="columns large-2" ng-repeat="i in groups.data"class="large-3">
                    <br> {{ i.info }} </b> <br />    
                    {{i.items}}
                </div>
            </div>
        </div>


        <div class="columns large-12"> 
            <div ng-show="data.data"> 
                <div class="columns large-2" ng-repeat="i in data.data"class="large-3">
                    <br> {{ i.sku }} </b> <br />    
                    <i>  {{i.item_type}} {{i.segment}} {{}}                </i>
                    <button class="tiny" ng-click="tmpGroup.push(i.id);"> + </button> 
                </div>
            </div>
        </div>
        

        

        <!--
            <div ng-repeat="g in data" class="columns large-4">
                <h4> <a href="/#/catalog/{{g.alias}}"> {{g.title}}  </a>  </h4>
            </div>
        -->
</div>
