
<div class="row">
    <div class="columns large-12 large-centered">
        <div ng-init="">
        <h1>  Наши магазины  </h1>
            <button class="button tiny" ng-click="save();"> Сохранить </button>
            <button class="button tiny" ng-show="location" ng-click="deleteCity();"> Удалить выбранный город </button>
             <div class="row collapse">
            <div class="small-3 large-2 columns">
              <span class="prefix">Выбрать город</span>
            </div>
            <div class="small-9 large-10 columns">
                <select ng-options="c as c.name for c in cities" ng-model="location" ng-change="focusToLocation(location);">
                </select>
            </div>
          </div>

        <div id="YMapsID" style="zwidth:600px;height:400px"></div>

        </div>
    </div>
    <div style="clear:both;"> </div>
    <div ng-show="location" class="large-12 columns"> 
        <div class="large-3 columns"  ng-repeat="m in markets">
            <a href ng-show="m.city_id==location.id" ng-click="focusToLocation(m)"> {{m.name}} </a>
        </div>

    </diV>
    <p> &nbsp; </p>
</div>
