        <ul
                         data-drop="true"
                         data-jqyoui-options="{greedy:true, hoverClass:'hover-droppable-place'}"
                         ng-model="page.subitems"
                         jqyoui-droppable="{multiple:true}">
                               <block atata="1" ng-repeat="block in page.subitems" template="editable/renderers/ul_block_holder.html" is-editable="true"  data="block">
                                        ....
                                 </block>
            <li
                 z-class="block-controls">
                <a ng-click="savePage(page.subitems);" class="fi-check">  save </a>
            </li>
                  </ul>


