<div style="position:fixed; left:0px; top:0px; z-index:9999; background-color:#e1e2e3; border:3px solid #242424;">
    <ul ng-init="add_item=[]" class="side-nav">
        <li item="{title:'',url:'#'}" item-type="menu" adm-widget z-ng-model='item' hint-attr="Add Menu Via Widget" > ... </li>
        <li item="{type:'photo',data:{'src':''}}"
            adm-widget
            z-ng-model='item'
            item-type="photo"
            hint-attr="Add Photo" >
            ...
        </li>
</ul>
</div>
