<div class="row">
    <div ng-init="
                  possibleElements=[
                      {type:'menu',data:{'title':undefined,'url':undefined}},
                      {type:'html',data:{'text':undefined}},
                  ];

                  elementNumber=False; " class="large-12 columns">
      <label>Тип элемента
        <select ng-model="elementNumber"
                ng-options="idx as data.type for (idx,data) in possibleElements">

        </select>

          <div ng-show="elementNumber>=0" item="possibleElements[elementNumber]" adm-widget item-type="item.type">

          </div>
      </label>
    </div>
</div>
