<div class="row">
    <h2> Будет созданаа нова страница. </h2>
    <div>
        <h3> Meta </h3> <br/>
        <div class="row collapse">
            <div class="small-4 columns"> <span class="prefix"> Заголовок:  </span> </div>
            <div class="small-8 columns"> <input type="text" />  </div>
        </div>

        <div class="row collapse">
             <div class="small-4 columns"> <span class="prefix">
            Ключевые слова:
                 </span> </div>
            <div class="small-8 columns">
                <input type="text" />  </div>
        </div>
        <div class="row collapse">
             <div class="small-4 columns"> <span class="prefix">
            Описание:
                 </span> </div>
            <div class="small-8 columns">
                <input type="text" /> </div>
        </div>
        <hr/>
        <div class="row collapse">
            Добавить страницу в рассылку новостей? <input type="checkbox" />
        </div>
        <hr/>
        <button type="button tiny"> Продолжить </button>
    </div>

</div>
