<div class="row">
<div ng-init="init()" class="columns-12">
    <table>
        <tr>
            <th colspan=2> Пользователи</th>
            <th> <a  ng-click="newUser={}"> Добавить </a>
            </th>
        </tr>
        <tr ng-repeat="user in data.data" ng-show="!editUser">
            <td> {{user.username}} </td>
            <td> {{user.role_id}}  </td>
            <td> *** </td>
            <td> <a ng-click="$parent.editUser=data.data[$index]"> Редактировать </a>,<a href="#"> Удалить </a> </td>
        </tr>
        <tr ng-show="editUser">
            <td><input type="text"     ng-model="editUser.username"     ng-value="editUser.username" /> </td>
            <td><input type="text"     ng-model="editUser.role_id"      ng-value="editUser.role_id"  /> </td>
            <td><input type="password" ng-model="editUser.password" placeholder="Leave empty to leave unchanged" /> </td>
            <td> <a ng-click="updateUser(editUser); editUser=undefined;"> Save </a> </td>
        </tr>
        <tr ng-if="newUser">
            {{newUser}}
            <td><input type="text" placeholder="Username" ng-model="newUser.username" />  </td>
            <td><input type="text" placeholder="Role_id" ng-model="newUser.role_id" />  </td>
            <td><input type="password" placeholder="Password" ng-model="newUser.password" />  </td>
            <td> <a ng-click="addUser(newUser);"> Сохранить </a> </td>
        </tr>

    </table>
</div>
</div>
