<div>
                {{item}}
                <input type="text" ng-model="item.type" />

                <div ng-switch="item.type">
                    <div ng-switch-when="html">
                        <div ng-include="'editable/forms/html.html'"> </div> </div>
                    <div ng-switch-default>
                        <span ng-repeat="(key,param) in item.data">
                            <input type="text" placeholder="{{key}}"  ng-model="item.data[key]" />
                        </span>
                    </div>
                </div>



                <button ng-click="addBlock(item);" z-ng-show="model.data.$$hasDefined()">
                        save
                </button>
            <!---
            <div class="btn btn-primary"
                 data-drag="true"
                 data-jqyoui-options="{revert: 'invalid',cursorAt:{top:15},cursor:'walt',snap:'.ui-droppable',snapMode:'inner'}"
                 ng-model="model"
                 jqyoui-draggable="{animate:true}"
                 >[dragme]</div>
            --->
</div>
