
<div class="row">
        <br />
        <h4> Загрузка каталога </h4>
        <input type="text" ng-model="catalogUploadSeason" placeholder="Введите название коллекции"/>
        <div ng-show="catalogUploadSeason">
            <input oi-file="options" type="file" />
            {{catalogUploadStatus}}
        </div>
        <h4> Существующие коллекции </h4>

        <div>
             <ul> 
                 <li ng-repeat="c in collections.data"> {{c.name}} 
                        <a href ng-click="deleteCollection(c.slug);"> Удалить </a> ,
                        <span ng-show="c.coll_status!=1;">  <a href ng-click="activateCollection(c.slug);">Активировать</a>, </span>
                        <a href ng-click="chooseCollection(c.slug);">  Редактировать</a>
                 </li>
             </ul>
        </div>

        <div class="panel">
        <div class="columns large-6">
            <div class="columns large-12"> 
            <div ng-show="segments.data"> 
                <ul>
                    <li ng-repeat="i in segments.data">
                        <a editable-text="segments.data[$index].name">{{i.name}}</a>
                        <a ng-show="!i.group" href ng-click="segments.data[$index].group=1">Объеденить</a>
                        <a ng-show="i.group==true" href ng-click="segments.data[$index].group=0">Разобъеденить</a>
                    </li>
                </ul>
                <a href ng-click="saveSegments(segments)">Применить </a> 
                
                <!--
                <div ng-repeat="i in groups.data" class="columns large-4-padding">
                    <img ng-src="{{'/static/catalog/'+i.items[0].base_image}}" />  
                    <span ng-repeat="sub in i.items">
                        {{sub.sku}}&nbsp;<a href ng-click="i.items.splice($index,1);">[x]</a>
                    </span>
                    <hr />
                    <label> Similar: </label>
                    <div class="columns large-6" ng-repeat="sim in i.similar">
                         <img ng-src="{{'/static/catalog/'+sim[0].base_image}}" />  
                         <div class="break-all"><small>{{sim[0].sku}}</small></div>
                         <a href ng-click="i.similar.splice($index,1);">[x]</a>
                    </div>
                    <a href ng-click="$parent.similarModel=i"> <small> Добавить подобные </small> </a>
                    <a href ng-click="saveGroup(i);" > <small> Сохранить </small> </a>
                    <a href ng-if="similarModel && $parent.similarModel!=i" ng-click="addToSimilar(i)"> <small>Добавить к подобным</small> </a>
                <hr/>
                </div>
                -->
            </div>
            </div>
        </div>

        
        <div class="columns large-6"> 
            <!--
                <input ng-show="tmpGroup.length" placeholder="Описание группы" type="text" ng-model="tmpInfo" /><br/> 
            -->
            <span ng-show="tmpGroup.length">
                {{tmpGroup}} <a href ng-click="tmpGroup=[]"> [x]</a> <button ng-click="groupItems();" class="tiny"> [ Сгруппировать ] </button>
            </span>

            <div ng-show="data.data"> 
                <div ng-if="i.group_catalog_id!='none'" class="columns large-3" ng-repeat="i in data.data">
                    <img ng-src="{{'/static/catalog/'+i.base_image}}" />  
                    {{ i.sku }} <br />    
                    <i><small>{{i.item_type}}<br/>{{i.segment}}</small></i>
                    <br/>
                    <a href class="tiny" ng-click="tmpGroup.push(i.id);"> В группу </a> 
                </div>
            </div>
        </div>
<div style="clear:both;"> </div>
</div>
        <!--
            <div ng-repeat="g in data" class="columns large-4">
                <h4> <a href="/#/catalog/{{g.alias}}"> {{g.title}}  </a>  </h4>
            </div>
        -->
</div>
