        <div
            z-style="{{block.data.style}}"
             class="has-block-controls block-type-{{block.type}} column {{block.data.class}}">
            <div
                 z-ng-click="block.open=!block.open" ng-class="{opened:block.open}"
                 class="block"
                 data-drop="isEditable"
                 data-jqyoui-options="{greedy:true, hoverClass:'hover-droppable-place'}"
                 ng-model="block.subitems"
                 jqyoui-droppable="{multiple:true}"

                 z-ng-init="block = block">

                <ng-include src="'views/renderers/'+block.type+'.html'"> </ng-include>
            </div>
            <div z-ui-sortable z-model="block.subitems">
                <span  class="" ng-repeat="block in block.subitems | orderBy:order"> 
                <ng-include class="block-type-subitems"  src="'views/renderers/block_holder.html'"  > ... </ng-include>
                </span>
            </div>


        </div>
