        <div
            ng-show="block.type"
             class="has-block-controls block-type-{{block.type}}" z-ng-init="block.data = block.data.fromJson()">

            <div
                 data-drop="true"
                 data-jqyoui-options="{greedy:true, hoverClass:'hover-droppable-place'}"
                 ng-model="block.subitems"
                 jqyoui-droppable="{multiple:true}"

                 z-ng-init="block = block" ng-include="'views/renderers/'+block.type+'.html'">
                    ....
            </div>

        <ng-include class="block-type-subitems" src="'views/renderers/block_holder.html'"  ng-repeat="block in block.subitems"> ... </ng-include>

            <div   ng-show="!!block && block.type &&  block.type!='deleted'" >
                <a class="fi-x      small" ng-click="block.type = 'deleted'">  </a>
                <a class="fi-pencil      small" ng-click="updateElement(block);">  </a>
            </div>

        </div>
