<div>
    <flex-slider slide="s in block.data.images track by $index">
        <li>
            <a
             style=" height:{{innerHeight-98 || '0'}}px; display:block; overflow:hidden; width:100%; background-image:url('{{s.src}}'); background-position:50% 0%;
             {{ (innerWidth>1900 ? 'background-size:100%;' : '') }} 
            "
             ng-href="{{ (!!s.href ? s.href : 'javascript:void(0);') }}"> 
                <!--
                <img ng-src="{{s.src}}">
                -->
            </a>
        </li>
    </flex-slider>
</div<

