<ul>
        <li 
            ng-if="block.type=='top_menu' || block.type=='menu'"
            has-not-down ng-class="{'has-dropdown':(block.subitems.length>0)}">
            <a ng-href="{{ (!!block.subitems.length ? '' : block.data.url )}}"> {{block.data.title}} </a>
            <ul ng-if="block.type=='top_menu'"  z-top-bar-dropdown class="dropdown" ng-if="block.subitems">
                <ng-include ng-repeat="block in block.subitems" src="'views/renderers/ul_block_holder.html'"> </ng-include>
            </ul>
        </li>   


        <span  ng-init="catalogSegments = catalogRes.GET({'target':'collection'});"
            ng-if="block.type=='catalog_link'">
                <li class="has-dropdown" ng-repeat="cs in catalogSegments.data"> 
                        <a href="#">{{catalogCollectionTranslate(cs.segment)}}</a>
                        <ul 
                            ng-init="catalogTypes = catalogRes.GET({'target':'collection','segment':cs.segment});" class="dropdown catalog-menu-holder">
                            <span ng-repeat="ct in catalogTypes.data">
                            <li class="catalog-menu-item">  <a ui-sref="catalog.segment.type({'segment':ct.segment,'type':ct.item_type.replace('/','---')})" href>{{ct.item_type}}</a>  </li>
                            <li class="catalog-menu-image" style="display:none;position: absolute; width:8888%; left:100%; background-color:transparent!important; height: 100%; z-index: 999; overflow: visible; border-left:1px solid gray;">
                                                        <img ng-src="{{'/static/catalog'+ct.base_image}}"
                                                            style="height: 100%; border:20px solid #e6e6e6;">
                            </li>
                            </span>
                            <li class="catalog-menu-image" style="display:block;position: absolute; left:100%; background-color:transparent!important; height: 100%; z-index: 998; overflow: visible; border-left:1px solid gray;">
                            </li>
                        </ul>
                </li>
        </span>
</ul>
