<ul>
        <li 
            ng-if="block.type=='top_menu'"
            has-not-down ng-class="{'has-dropdown':(block.subitems.length>0)}">
            <a ng-href="{{ (!!block.subitems.length ? '' : block.data.url )}}"> {{block.data.title}} </a>
            <ul ng-if="block.type=='top_menu'"  z-top-bar-dropdown class="dropdown" ng-if="block.subitems">
                <ng-include ng-repeat="block in block.subitems" src="'views/renderers/ul_block_holder.html'"> </ng-include>
            </ul>
        </li>   


        <span 
            ng-init="catalogSegments = catalogRes.GET({'target':'collection'});"
            ng-if="block.type=='catalog_link'">
                <li class="has-dropdown" ng-repeat="cs in catalogSegments.data"> 
                        <a href="#">{{cs.segment}}</a>
                        <ul  ng-init="catalogTypes = catalogRes.GET({'target':'collection','segment':cs.segment});" class="dropdown">
                            <li ng-repeat="ct in catalogTypes.data">
                               <a href="#">{{ct.item_type}} </a> 
                            </li>
                        </ul>
                </li>
    
        </span>
</ul>
