<span>
        <span
                ng-if="block.type=='top_menu' || block.type=='menu' || block.type=='photo'"
            >
            <li 
                has-not-down ng-class="{'has-dropdown':(block.subitems.length>0)}">

                <a ng-attr-style="{{block.data.style}}"  ng-if="!!block.data.title" ng-href="{{ (!!block.subitems.length ? '' : block.data.url )}}"> {{block.data.title}} </a>
                <a   ng-if="!!block.data.src" ng-href="{{block.data.href}}"> 
                    <img ng-attr-style="{{block.data.style}}" ng-src="{{block.data.src}}" />
                </a>

                <ul ng-if="block.subitems" z-top-bar-dropdown class="dropdown">
                    <ng-include ng-repeat="block in block.subitems" src="'views/renderers/ul_block_holder.html'"> </ng-include>
                </ul>
            </li>   
        </span>

        <span  ng-init="catalogSegments = catalogRes.GET({'target':'collection'});"
            ng-if="block.type=='catalog_link'">
            <li  class="has-dropdown" has-dropdown> <a  ui-sref="catalog({})" href> Коллекция </a>
                <ul class="dropdown" >
                <li ng-if="!cs.parent_id" class="has-dropdown not-click" has-dropdown ng-repeat="cs in catalogSegments.data"> 
                        <a ui-sref="catalog.segment({'segment':cs.slug})">{{cs.name}}</a>
                        <ul ng-if="!cs.children.length"  ng-init="catalogTypes = catalogRes.GET({'target':'collection','segment':cs.slug});" class="dropdown catalog-menu-holder">
                            <li ng-repeat="ct in catalogTypes.data" class="catalog-menu-item"> <a ui-sref="catalog.segment.type({'segment':cs.slug,'type':ct.slug.replace('/','---')})" href>{{ct.name}}</a>  </li>
                            <!--  <li class="menu-catalog-after" ng-if="cs.after_menu" ng-bind-html="trust(cs.after_menu)">  </li> -->
                        </ul>

                        <ul ng-if="cs.children.length"   class="dropdown catalog-menu-holder">
                            <li ng-repeat="scs in cs.children" class="catalog-menu-item">
                                <a  href>{{scs.name}}</a>  
                            <!--  <li class="menu-catalog-after" ng-if="cs.after_menu" ng-bind-html="trust(cs.after_menu)">  </li> -->
                                <ul ng-init="catalogTypes = catalogRes.GET({'target':'collection','segment':scs.slug});" class="dropdown catalog-menu-holder">
                                    <li ng-repeat="ct in catalogTypes.data" class="catalog-menu-item"> <a ui-sref="catalog.segment.type({'segment':scs.slug,'type':ct.slug.replace('/','---')})" href>{{ct.name}}</a>  </li>
                                    <!--  <li class="menu-catalog-after" ng-if="cs.after_menu" ng-bind-html="trust(cs.after_menu)">  </li> -->
                                </ul>
                            </li>
                        </ul>
                </li>
                </ul>
            </li>
        </span>

        <span ng-if="block.type=='side_catalog_link'">
            <li ng-init="buySegments = buyRes.GET({'target':'collection'});"  class="has-dropdown not-click" has-dropdown> <a href=""> {{block.data.title}} </a>
                <ul class="dropdown" >
                <li class="has-dropdown not-click" has-dropdown ng-repeat="cs in buySegments.data"> 
                        <a ui-sref="buy.segment({'segment':cs.slug})">{{cs.name}}</a>
                        <ul 
                            ng-init="buyTypes = buyRes.GET({'target':'collection','segment':cs.slug});" class="dropdown catalog-menu-holder">
                            <li 
                                ng-repeat="ct in buyTypes.data"
                                class="catalog-menu-item">
                                    <a ui-sref="buy.segment.type({'segment':cs.slug,'type':ct.slug.replace('/','---')})" href>{{ct.name}}</a>
                            </li>
                        </ul>
                </li>
                </ul>
            </li>
        </span>
</span>
