<div style="margin-top:50px;">
    <div class="columns large-4">
            <div>
                <!--
                <div zzng-if="block.data.map_type=='firm'" ng-init="selected_city=-1">
                    <h4>Где купить KEDDO </h4>
                    <h5> В России </h5>
                    <select ng-if="block.data.countries" ng-model="$parent.selected_city">
                        <optgroup ng-repeat="country in block.data.countries" ng-show="country.name=='Россия'">
                            <option ng-value="[$parent.$index,$index]" value ng-repeat="city in country.cities">
                            {{city.name}}
                            </option>
                        <optgroup>
                    </select>
                        
                    <h5> В мире </h5>
                    <select ng-if="block.data.countries" ng-model="$parent.selected_city">
                        <optgroup  ng-repeat="country in block.data.countries" ng-show="country.name!='Россия'">
                            <option ng-value="[$parent.$index,$index]" value ng-repeat="city in country.cities">
                            {{city.name}} 
                            </option>
                        <optgroup>
                    </select>

                    <ul class="no-bullet" ng-if="selected_city"> 
                        <li ng-repeat="shop in block.data.countries[selected_city.split(',')[0]].cities[selected_city.split(',')[1]].shops">
                            <a href ng-click="focusToLocation(shop.coords);">{{shop.name}} </a>
                        </li>
                    </ul>
                </div>
                -->

                <div style="margin-top:90px;" zzzng-if="block.data.map_type=='partner'" ng-init="selected_city=-1">
                    <span style="font-size:18px;"> МАГАЗИНЫ </span><br/>
                    <select  class="ymap countries" ng-if="block.data.countries" ng-change="_result=undefined; $parent.selected_city=undefined" ng-model="$parent.selected_country">
                        <option style="font-size:18px;"
                                ng-repeat="country in block.data.countries.$$toArray() | orderBy:'order'" ng-value="country.$$objectKey">
                            {{country.name}}
                        </option>
                    </select>
                    <select ng-if="selected_country!=-1" ng-change="_result=undefined" ng-model="$parent.selected_city">
                        <option style="font-size:18px;"  ng-value="cn" ng-repeat="(cn, city) in block.data.countries[selected_country].cities track by $index">
                            {{city.name}} 
                        </option>
                    </select>
                    <!--                        
                    <input ng-show="selected_city" ng-model="s" type="text" placeholder="" />
                    --<
                    <!--
                        <button ng-show="s" ng-click="_result=block.data.countries[selected_country].cities[selected_city].shops.S$search('description',s);"> Найти магазины </button>
                    -->
                    <center>
                        <button class="tiny" style="font-size:14px; background-color:#000; color:#fff;" ng-click="_result=[block.data.countries[selected_country].cities[selected_city].shops,selected_city]">
                        НАЙТИ МАГАЗИНЫ</button>
                    </center>
                    <span ng-if="_result!==undefined" style="font-size:18px;"> РЕЗУЛЬТАТЫ </span>  
                    <p ng-if="">Ничего не найдено </p>
                    <ul style="list-style:none;" ng-if="_result" class="no-bullet"> 
                            <li ng-repeat="c in _result[0]">
    
           <img width=12px src="images/pl.png" /> <a style="font-size:14px; color:#000;" href ng-click="focusToLocation(c.coords)">{{ (_result[1]+' '+c.name).toUpperCase() }}  </a><img width=12px ng-show="c.type=='firm'" src="/images/crown.png"/> <br/>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
    </div>

    <div class="columns large-8">
        <div id="YMapsID" style="height:400px"></div>

        </div>
    </div>

</div>
