<div class="blog-section">
<div class="row">
<div class="columns large-12 ">

    <div>
        <br/>
        <ul class="button-group round">
          <li >
                <a  zzzng-click="$parent.cats=!$parent.cats" href class="tiny button">Категории:
                </a>
                
          </li>
          <li class="blog-cats tiny button success" zzzzng-show="cats"  ng-repeat="c in categories.data"> 
                <a ui-sref="adm.blog.category({'category':c.url})">{{c.name}} </a>
                <a href ng-attr-style="{{(!c.visible?'color:gray;':'')}}"ng-click="c.visible=1*(!c.visible)" class="fi-eye"></a>
                <a href editable-text="categories.data[$index].name"  class="fi-pencil"></a>
                <a href editable-text="categories.data[$index].url"  class="fi-link"></a>
                <a href ng-click="categories.data.splice($index,1)" class="fi-x"></a>
          </li>
          <li  class="tiny button success blog-cats" >
            <a href ng-click="categories.data.push({'name':'new_item'})" class="fi-plus"></a> 
          </li> 

          <li class="tiny button">
            <a href ng-click="saveCategories(categories)" class="fi-check" style="color:#fff;"></a>
          </li>
            
        </ul>
    </div>

    <div class="columns large-12">
        <div style="clear:both;"> </div>
        <div ui-view="">

        </div>
        <div style="clear:both;"> </div>
        <div style="clear:both;"> </div>
    </div>
</div> 
</div>
</div>
