
<div>
        <div class="columns" style="margin:14px;">
            <a class="tiny button" href ng-click="page.subitems.push({'subitems':[]})"> Добавить блок </a>
        </div>
          <div ng-repeat="page in page.subitems">
        <div class="page-content" ng-if="page.subitems">
            <div
                         data-drop="true"
                         data-jqyoui-options="{greedy:true, hoverClass:'hover-droppable-place'}"
                         ng-model="page.subitems"
                         as-sortable

                         jqyoui-droppable="{multiple:true,onDrop:alert(1)}">
                         <span class="{{block.data.class || 'columns large-12' }}" as-sortable-item ng-repeat="block in page.subitems">
                             <block prefix="editable" is-editable="true"  data="block">
                                     ....
                             </block>
                        </span>
            </div>
            <span ng-init="category_form=-1">
                <a   ng-show="category_form==-1" href class="button tiny" ng-click="category_form=$index" > Сменить категорию</a>
                <div ng-show="category_form>=0" class="category_form"> 
                     <a href ng-repeat="c in categories.data" ng-click="page.category_id=c.id; $parent.category_form=-1"> {{c.name}} </a>
                </div>
            </span>
            <a href class="button tiny  warning" ng-click="$parent.$parent.page.subitems.splice($index,1)" > Удалить блок</a>
            </div>
                <div style="clear:both;">
        </div>


          </div>


            <div
                  z-class="block-controls">
                <a ng-click="savePage(page);" class="fi-check"> <small>Применить </small></a>
            </div>
</div>
