<div class="row">
<view-title>{{meta.title}}</view-title>
<meta view-head name="description" content="{{meta.description}}">
<meta view-head name="keywords" content="{{meta.keywords}}">

    <br/>

    <span ui-view>    
        <div ng-if="data.data" class="columns large-12">
                <span ng-if="!i.children.length" class="columns large-3" ng-repeat="i in data.data">
                    <center>
                        <a ui-sref="catalog.segment({'target':'sections','segment':i.slug})">{{i.name}}</a>
                        <div ng-bind-html="trust(i.data)" >
                        </div>
                    </center>
                    <br/>
                </span> 
        </div>
    </span>
</div>
