


<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
    <!-- <li role="menuitem"><a href="#/page/index">KEDDO</a></li> -->
    <li class="current"  role="menuitem"><a href="#">Каталог</a></li>
    <li role="menuitem">
        <a  ui-sref="catalog.segment.type({'target':'sections','segment':stateParams.segment,'type':'*'})"> 
                    {{$parent.$parent.data.info.name}}
        </a>
    </li>
    <li role="menuitem">
        <a  ng-show="stateParams.type!='*'" ui-sref="catalog.segment.type({'type':stateParams.type})">
                    {{$parent.data.info.name}}
        </a>
    </li>
    <li class="current"  role="menuitem"><a href="#">
                    {{data.sku}}
            </a></li>

</nav> 
    <div ng-if="data.data"ng-init="item_index = 0" >


<view-title>{{meta.title}}</view-title>
<meta view-head name="description" content="{{meta.description}}">
<meta view-head name="keywords" content="{{meta.keywords}}">
        <div class="large-12 colums" >
        <strong> {{data.sku}} </strong>
            <div ng-show="!data.rated">
                <a ng-attr-style="{{(data.rating<=$index ? 'color: #fff; text-shadow: black 0px 0px 2px;' : '')}}"
                     ng-click="data.rated = rate(data.sku,$index)"
                     ng-repeat="i in [1,2,3,4,5]" href class="fi-star small"></a>
            </div>
            <div ng-show="data.rated">
                Спасибо, ваш голос учтен.
            </div>
        <br/>
            <center>
                <img style="max-width:400px;" src="/static/catalog/{{data.data['base image']}}" alt="{{data.sku}}" />
            </center>
        <br/>
        <br/>
        <ul>
            <li><strong> Марка:</strong> {{data.data['Марка']}} </li>
            <li><strong> Тип обуви:</strong> {{data.data['Тип']}} </li>
            <li><strong> Артикул:</strong> {{data.sku}} </li>
            <li><strong> Цвет:</strong> {{data.data['Цвет']}} </li>
            <li><strong> Материал верха:</strong> {{data.data['Материал верха']}} </li>
            <li><strong> Подкладка:</strong> {{data.data['Подкладка']}} </li>
            <li><strong> Стелька:</strong> {{data.data['Стелька']}} </li>
            <li><strong> Размер:</strong> {{data.data['analpa_razmer'].$$replace('\\(.+','g') }} </li>
        </ul>
        </div>
    <!--
    {{data.data}}
    
    <div ng-if="data.data" class="row">:
        <div class="columns large-3" ng-repeat="i in data.data.items">
            <a href='#'> {{i.sku}} </a>
            <i> {{i.info}} </i>
            
        <div>
    <div ui-view>    
        
    </div>
    -->
<!-- Put this script tag to the <head> of your page -->

<!-- Put this div tag to the place, where the Comments block will be -->
<div class="columns large-12">
<div id="vk_comments"></div>
    <script type="text/javascript">
    VK.Widgets.Comments("vk_comments", {limit: 10, width: "665", attach: false});
    </script>
</div>
</div>
