
<view-title>{{meta.title}}</view-title>
<meta view-head name="description" content="{{meta.description}}">
<meta view-head name="keywords" content="{{meta.keywords}}">

    
    <div  class="columns large-2">
            <ul ng-if="!data.info.children.length" class="side-nav show-for-medium-up">
                <li> <h4> {{data.info.name}} </h4> <li> 
                
                <li ng-repeat="i in data.data">
                    <a ui-sref="catalog.segment.type({'type':i.slug})"> {{i.name}} </a>
                </li>
            </ul>
    </div>
    <div ui-view class="columns large-10 small-12">
         <div ng-if="!data.info.children.length"   ng-init="s = stateParams; s['type']='*'; data=[]; data=catalogRes.GET(s);"
                ng-include="'views/catalog/full.html'">
         </div>


        <div ng-if="data.info.children.length" class="columns large-3" ng-repeat="i in data.info.children">
            <center>
                <a ui-sref="catalog.segment({'target':'sections','segment':i.slug})">{{i.name}}</a>
                <div ng-bind-html="trust(i.data)" >
                </div>
            </center>
            <br/>
        </div> 


    </div>
