
<span ui-view>    
        <ul class="breadcrumbs"> 
            <li class="current"><a href >Каталог</a></li>
            <li ><a ui-sref='catalog.segment.type({"target":"collections","segment":stateParams.segment,"type":"*"})' href >
                    {{$parent.$parent.data.info.name}}
                </a></li>
            <li class="current" ng-show="stateParams.type!='*'">    <a href >
                    {{$parent.data.info.name}}
                </a></li>
        </ul>

    <div ng-if="data.data" class="columns large-12">

<view-title>{{meta.title}}</view-title>
<meta view-head name="description" content="{{meta.description}}">
<meta view-head name="keywords" content="{{meta.keywords}}">
        <div ng-if="stateParams.type=='*'">
            <div ng-bind-html="trust(data.description)"> 
            </div>
        </div>
        <div  ng-repeat="i in data.data" class="columns large-4">
            <center>
            <img ng-src="/static/catalog/{{i.data['small image']}}" alt="" height="150px" style="height:150px;" />
                <div>{{i.sku}}</div> 
                <a ui-sref="catalog.segment.type.group({'sku':encodeTwice(i.sku)})"> <small> Подробнее </small> </a>
            </center>
            <br/>
        </div>
    </div>
    <div style="clear:both;"> </div>
    <br/>
    <br/>
</span>
