
<span ui-view>    
    <ul class="breadcrumbs"> 
        <li class="current"><a href >Каталог</a></li>
        <li ><a ui-sref='catalog.segment.type({"target":"collections","segment":stateParams.segment,"type":"*"})' href >{{catalogCollectionTranslate(stateParams.segment)}}</a></li>
        <li class="current" ng-show="stateParams.type!='*'">    <a href >{{stateParams.type}}</a></li>
    </ul>

    <div ng-if="data.data" class="columns large-9">

<view-title>{{meta.title}}</view-title>
<meta view-head name="description" content="{{meta.description}}">
<meta view-head name="keywords" content="{{meta.keywords}}">
        <div ng-if="stateParams.type=='*'">
            <div ng-bind-html="trust(data.description)"> 
            </div>
        </div>
        <div  ng-repeat="i in data.data" class="columns large-4">
            <img ng-src="{{i.data.image_url}}" alt="" width="300px" />
            <center>
                <div>{{i.data.name}}</div> 
                <a ui-sref="catalog.segment.type.group({'sku':encodeTwice(i.id),'name':(i.name)})"> <small> Подробнее </small> </a>
            </center>
            <br/>
        </div>
    </div>
    <div style="clear:both;"> </div>
    <br/>
    <br/>
</span>


