        <div ng-attr-style="{{block.data.style}}"
            ng-show="block.type && block.type!='deleted'"
             class="has-block-controls block-type-{{block.type}} "> 
             <span class="sub_block_controls">
                    <a class="fi-x      small" ng-click="$parent.block.type = 'deleted'">  </a>
                    <a class="fi-pencil      small" ng-click="updateElement(block);">  </a>
                    <span no-no-ng-if="sortableScope" style='margin-top:8px; color:#008cba;' as-sortable-item-handle> <b> >> </b> </span>
             </span>
            <div

                 z-ng-click="block.open=!block.open" ng-class="{opened:block.open}"
                 class="block"
                 data-drop="true"
                 data-jqyoui-options="{greedy:true, hoverClass:'hover-droppable-place'}"
                 ng-model="block.subitems"
                 jqyoui-droppable="{multiple:true}"
                 z-ng-init="block = block">

                <ng-include no-no-as-sortable-item-handle
                            src="'editable/renderers/'+block.type+'.html'"> </ng-include>
            <div 

                as-sortable ng-model="block.subitems" class="block-subitems">
               <span  class="block-type-subitems {{block.data.class}}" as-sortable-item ng-repeat="block in block.subitems">
                   <ng-include  src="'editable/renderers/block_holder.html'"> ... </ng-include>

                </span>
            </div>
            <div style="clear:both;"> </div>
            </div>


        </div>

