<ul>
        <li ng-if="block.type!='deleted'" has-dropdown ng-class="{'has-dropdown':block.subitems.length}">
            <a ng-href="{{ (!!block.subitems.length ? '' : block.data.url )}}"> {{block.data.title}} </a>


               <span class="block-controls"  ng-show="isEditable && !!block && block.type &&  block.type!='deleted'" >
                    <a class="fi-x      small" ng-click="block.type = 'deleted'">  </a>
                    <a class="fi-pencil      small" ng-click="updateElement(block);">  </a>
                </span>

            <ul ng-if="block.type!='deleted'" class="dropdown" ng-if="block.subitems">
                <ng-include ng-repeat="block in block.subitems" src="'views/renderers/ul_block_holder.html'"> </ng-include>
            </ul>
    </li>
</ul>

