
<div ng-if="block.type!='deleted'">
    <a
            ng-if="play!=true"
            style=" display:block;
                    text-align:center;
                    border:1px solid #242424;"
                    ng-click="$parent.play=true">
            
                    <img src='http://img.youtube.com/vi/{{block.data.src.$$replace('.+\?v=','g')}}/hqdefault.jpg'/>
            <i class="fi-play-circle large"> </i>
            
            <div style="text-align:center; background-color:#242424; padding:10px;">
                {{block.data.caption}}
                <br/>
                {{block.data.description}}
            </div>
    </a>
    <div ng-if="play==true">
    <youtube-video
        player-vars="{controls:0,autoplay:1,showinfo:0}"
        player-width="'100%'" video-url="block.data.src"></youtube-video>
    </div>
</div>
