<div class="blog-section ">
<div class="row">
<a id="blogTop"></a>



    <div class="columns large-12">
        <a
        style="
                  position: fixed;
                  z-index: 9;
                  font-size: 20px;
                  top: 70%;
                  margin-left: -176px;
                  text-transform: uppercase;
                  font-family: monospace;
                  letter-spacing: 5px;
                "
            du-smooth-scroll
            href="#blogTop"
            ng-show="window.pageYOffset>400">
            Наверх <i class="fi-arrow-up large"></i>
        </a>
        <div ui-view>
            <!--
            <div ng-repeat="i in data.data">
                <a href>{{i.name}} </a>
            </div>
            -->
        </div>
    <!--
        <a href="#anchor" du-scrollspy>Am i active?</a>
    -->
    </div>

<!--
<div class="columns large-12" style="background-color:#242424;">
<br/>
    <ul class="blog-side-nav side-nav columns large-2">
        <li><strong style="color:#fff;">Вдохновение keddo</strong></li>
        <li ng-repeat="c in categories.data" ng-show="c.visible!=0"> 
                <a ui-sref="blog.category({'category':c.name})">{{c.name}} </a>
        </li>
    </ul>

    <div class="columns large-10">
        <div ui-view>
            <div ng-repeat="i in data.data">
                <a href>{{i.name}} </a>
            </div>
        </div>
    </div>
</div> 
-->
</div> 
</div> 
