<div ui-view="">

    <div ng-if="!page.subitems.length" class="columns large-12">
        <center> 
          <br/>
          <br/>
            <strong> На данный момент {{page.url.toLowerCase()}} пуст. </strong>
        </center>
    </div>
      
    <div class="columns large-12">
          <br/>
          <div class="blog-page-item"  ng-repeat="page in page.subitems | orderBy:id">
                <div> <div class="" ng-repeat="block in page.preview | orderBy:order"> <block   data="block"> </block> </div> </div>
                <div class="columns large-12"  ng-if="page.subitems.length">
                    <a   ui-sref="blog.category.block({'alias':page.url})"> Подробнее </a>
                    <br/>
                    <br/>
                </div>
          </div>
          <div 

                          infinite-scroll="loadMore()"
                          infinite-scroll-distance="1">
          </div>
    </div>

    <div class="columns large=12">
        <br/>
    </div>
</div>

