<div ui-view="">
      
        <div class="columns large-9">
          <div ng-if="$index<3" ng-repeat="page in page.subitems">
            <div  ng-if="page.subitems">
                <div> <span class="" ng-repeat="block in page.preview"> <block   data="block"> </block> </span> </div>
            </div>
          </div>
        </div>

        <div class="columns large-3">
          <br />
        <div class="columns large-12">
                <div style="       font-weight: bold!important;
                              " class="columns large-12"> Другие новости: 
                  <div style="width:100%; border-bottom: 1px solid #242424; margin-top:10px;"> </div>
                </div>
                </div>
          <div ng-if="$index>=3" ng-repeat="page in page.subitems">
            <div  ng-if="page.subitems">
                <div> <span class="" ng-repeat="block in page.preview"> <block   data="block"> </block> </span> </div>
            </div>
          </div>
        </div>
        
    
      </div>
    <div class="columns large=12">
        <br/>
    </div>
</div>

