<div ng-init="data={}; init();" ng-cloak class="row">
    <br/>
    <dvi class="columns large-12 ">
        <p>
            {{error}} {{ (!user.username ? 'Вход не выполнен' : '') }}
        </p>
        <div ng-if="!user.username">
            <input type="text" ng-model="data.username"/>
            <input type="password" ng-model="data.password">
            <button ng-click="login(data);" class="button tiny"> Войти </button>
        </div>
        <div ng-if="user.username">
            Вы вошли как {{user.username}} <br/>
            <button ng-click="logout()" class="button tiny"> Взять и выйти </button>
        </div>
    </div>
</div>
