
    <div class="page-content">
                             <block ng-if="(page.url[0]===':') || limit>$index "
                                    data-f="{{$index}}"
                                    ng-repeat="block in page.subitems"
                                    is-editable="isEditable"  data="block">
                                     ....
                             </block>
    <div infinite-scroll="scroll()" ng-if="page.url[0]!=':'" infinite-scroll-distance="1"></div>
                <div style="clear:both;"> </div>
        </div>
