

        <div
                 data-drop="true"
                 data-jqyoui-options="{greedy:true, hoverClass:'hover-droppable-place'}"
                 ng-model="page.subitems"
                 jqyoui-droppable="{multiple:true,onDrop:alert(1)}">
                    <div ng-repeat="block in page.subitems">
                        <block  data="block">
                                ....
                        </block>
                    </div>

            <span style="display:block; margin-bottom:10px"  class="block-controls">
                <a ng-click="savePage(page.subitems);" class="fi-check">  </a>
            <span>
        </div>
