<div  class="z-row">
<view-title>{{meta.title}}</view-title>
<meta view-head name="description" content="{{meta.description}}">
<meta view-head name="keywords" content="{{meta.keywords}}">

    <div z-ng-init="findScrollAnchors();" class="anchorControls">
        <div ng-repeat="a in anchors track by $index">
                <a href ng-click="scrollTo($index);">
                    <i class="fi-record large"></i>
                </a>
        </div>
    </div>
    <ng-include src="'views/block.html'"> </ng-include>
   <div 
    class="edit-mode-link"
    > 
    <a
        ng-if="isLoggined" ng-href="{{'/#/page/'+path+'/edit'}}"> Режим редактирования </a>
    </div>
</div>


<!-- src must be a function that get adm or usual interface -->



