<div  class="">
   <!-- 
    <div>
            <h1> AATATA@!!! </h1>
            <img angular-crop ng-src="http://localhost:9000/static/2.jpg" />
            <img src="http://localhost:9000/static/2.jpg" />
    </div>
    -->
    <div z-ng-init="findScrollAnchors();" class="anchorControls">
        <div ng-repeat="a in anchors track by $index">
                <a href ng-click="scrollTo($index);">
                    <i class="fi-record large"></i>
                </a>
        </div>
    </div>
    <ng-include src="'views/block.html'"> </ng-include>
   <div style="display: none !important;"> </div>
</div>


<!-- src must be a function that get adm or usual interface -->



