<div class="row">
    <h1>  Результаты поиска </h1>
    <div ng-if="!data.data || (!data.data.pages.length && !data.data.items.length && !data.data.blog.length)">
        По вашему запросу ничего не найдено
    </div>
    <div ng-repeat="r in data.data.pages">
        <a href="/#/page/{{r.url}}" ng-sref="pages">
                {{r.meta.fromJson().title || r.url}}
        </a>
        <p>
            {{r.$$searchInTree(search_query).$$stripTags(' ').substr(0,100)}}....
        </p>
    </div>

    <div ng-if="r.category_name" ng-repeat="r in data.data.blog">
        <a href="/#/blog/{{r.category_name}}/" >
                {{r.category_name}}
        </a>
        <p>
            {{r.$$searchInTree(search_query).$$stripTags(' ').substr(0,100)}}....
        </p>
    </div>


    <div ng-repeat="r in data.data.items" class="columns large-2">
        <a ui-sref="catalog.segment.type.group({'segment':r.items[0].segment,'type':r.items[0].item_type,'group':r.id">
                <img ng-src="/static/catalog/{{r.items[0].small_image}}" alt="" width="300px" />
                {{r.items[0].segment}} {{r.items[0].item_type}} 
        </a>
    </div>
    <br/>
    <br/>
</div>
