<h1> подписаться на новости </h1>

<div class="row">
    <div class="large-6 columns">
        <input type="text" placeholder="email" />
        <small> Только для новых подписчиков </small>
        <h5>Дата рождения</h5>
        
        <select class="columns large-4">  <option> 01 </option> </select>
        <select class="columns large-4">  <option> 01 </option> </select>
        <select class="columns large-4">  <option> 01 </option> </select>
        <button class="columns large-5"> Мужчины </button> 
        <div class="columns large-1"> </div>
        <button class="columns large-5"> Женщины </button> 
    </div>
    <div class="large-6 columns">
        <p>
        Подпишись на новостную рассылку adidas и получи купон на скидку 15%!* <br/>
        Ты станешь частью команды adidas <br/>
        Ты первым будешь узнавать о специальных предложениях и акциях на сайте <br/>
        Ты всегда будешь в курсе последних новинок и ярких коллекций <br/>
        <br/>
        *Купон действителен в течение 14 дней с момента его получения. Скидка по купону не суммируется с другими скидками и акциями на сайте. Купон может быть использован только 1 раз.
    </div>
</div>
